.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar form {
    display: flex;
    /* background-color: red; */
    height: 30px;
    gap: 5px;
}

.toolbar form button{
    width: 100px;
}

.toolbar button {
    margin-left: auto;
    background-color: aqua ;
    height: 30px;
    width: auto;
}

a{
    text-decoration: none;
}
